@use '~@angular/material' as mat;
@import '../../../styles.scss';
@import '../../../styles/palettes.scss';

@mixin navbar {
    display: flex;
    padding: 12px;
}

.brand {
    margin-top: 6px;
    font-size: 2em;
}

.dark-mode-toggler {
    margin-right: 24px;
    margin-top: 6px;
    font-size: 1.5em;
}

.navbar {
    display: flex;
    padding: 12px;
    background-color: mat.get-color-from-palette($green-palette, 600);
    color: $white;
}