.navbar-brand {
    font-size: 1.75em;
}

.main-nav-user-dropdown {
    text-decoration: none;
}

.nav-link {
    color: var(--bs-light);
}

.icon {
    color: var(--bs-light);
}

.basic-navbar-nav {
    justify-content: end;
    align-items: flex-end;
}