<div class="main-content">

        <div class="flexbox">
            <h1 class="title">
                Organizacje
            </h1>
            <form [formGroup]="searchForm" class="search">
                <mat-form-field class="searchBox">
                    <mat-icon matPrefix><fa-icon [icon]="faSearch"></fa-icon></mat-icon>
                    <input 
                        matInput 
                        type="search" 
                        placeholder="Szukaj..." 
                        class="search-input"
                        formControlName="textBox">
                </mat-form-field>
            </form>

            <button 
                mat-flat-button 
                color="accent" 
                class="create-organisation">(+) Dodaj</button>
        </div>
        
    <mat-paginator
        #paginator
        [length]="organisationsCount"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="getServerData($event)"></mat-paginator>

    <div class="tileflexbox">
        <div class="tile" *ngFor="let item of organisations">
            {{ item.name }}
        </div>
    </div>
</div>