// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

@import './styles/colours.scss';
@import './styles/palettes.scss';
@import './styles/themes.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

/* You can add global styles to this file, and also import other style files */

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $light;
}

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

@include mat.all-component-themes($magnifier-light-theme);

.main-content {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 15px;
  background-color: darken($light, 5%);
}

.theme-dark {
  @include mat.all-component-colors($magnifier-dark-theme);

  background-color: $dark;
  color: $white;

  .main-content {
    background-color: lighten($dark, 5%);
  }

  // .navbar {
  //   background-color: mat.get-color-from-palette($green-palette, 600);
  //   color: mat.get-color-from-palette($green-palette, 600-contrast);
  // }
}